# Backend
CoreBackend/node_modules/
CoreBackend/dist/
CoreBackend/prisma/dev.db
CoreBackend/logs/
CoreBackend/.env

# Frontend
CoreFrontend/react-ts/node_modules/
CoreFrontend/react-ts/dist/

# General
.env
*.db